<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.albumenj.switchmonitor.dao.PortStatusHistoryMapper">
    <resultMap id="BaseResultMap" type="cn.albumenj.switchmonitor.bean.PortStatusHistory">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="switch_id" property="switchId" jdbcType="INTEGER"/>
        <result column="port_index" property="portIndex" jdbcType="INTEGER"/>
        <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP"/>
        <result column="in_data" property="inData" jdbcType="BIGINT"/>
        <result column="out_data" property="outData" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        switch_id,
        port_index,
        time_stamp,
in_data,
out_data
</sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="portStatusHistory.id">
        INSERT INTO port_status_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="portStatusHistory.id!=null"> id,</if>
            <if test="portStatusHistory.switchId!=null"> switch_id,</if>
            <if test="portStatusHistory.portIndex!=null"> port_index,</if>
            <if test="portStatusHistory.inData!=null"> in_data,</if>
            <if test="portStatusHistory.outData!=null"> out_data,</if>
            <if test="portStatusHistory.timeStamp!=null"> time_stamp</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="portStatusHistory.id!=null"> #{portStatusHistory.id,jdbcType=VARCHAR},</if>
            <if test="portStatusHistory.switchId!=null"> #{portStatusHistory.switchId,jdbcType=INTEGER},</if>
            <if test="portStatusHistory.portIndex!=null"> #{portStatusHistory.portIndex,jdbcType=INTEGER},</if>
            <if test="portStatusHistory.inData!=null"> #{portStatusHistory.inData,jdbcType=BIGINT},</if>
            <if test="portStatusHistory.outData!=null"> #{portStatusHistory.outData,jdbcType=BIGINT},</if>
            <if test="portStatusHistory.timeStamp!=null"> #{portStatusHistory.timeStamp,jdbcType=TIMESTAMP}</if>
        </trim>
</insert>

    <insert id="insertList">
        INSERT INTO port_status_history(
            id,
            switch_id,
            port_index,
            in_data,
            out_data,
            time_stamp
        )VALUES
        <foreach collection="portStatusHistorys" item="portStatusHistory" index="index" separator=",">
        (
            #{portStatusHistory.id,jdbcType=VARCHAR},
            #{portStatusHistory.switchId,jdbcType=INTEGER},
            #{portStatusHistory.portIndex,jdbcType=INTEGER},
            #{portStatusHistory.inData,jdbcType=BIGINT},
            #{portStatusHistory.outData,jdbcType=BIGINT},
            #{portStatusHistory.timeStamp,jdbcType=TIMESTAMP}
        )
        </foreach>
</insert>
    <delete id="delete">
        DELETE FROM port_status_history
        WHERE time_stamp &lt;= #{portStatusHistory.timeStamp,jdbcType=TIMESTAMP}
    </delete>

    <select id="selectBySwitch" resultMap="BaseResultMap">
        SELECT * FROM port_status_history
        WHERE switch_id = #{portStatusHistory.switchId,jdbcType=INTEGER}
    </select>

    <select id="selectByPort" resultMap="BaseResultMap">
        SELECT * FROM port_status_history
        WHERE switch_id = #{portStatusHistory.switchId,jdbcType=INTEGER} and port_index = #{portStatusHistory.portIndex,jdbcType=INTEGER}
    </select>
</mapper>

