<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.albumenj.switchmonitor.dao.PortStatusMapper">
    <resultMap id="BaseResultMap" type="cn.albumenj.switchmonitor.bean.PortStatus">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="switch_id" property="switchId" jdbcType="INTEGER"/>
        <result column="port_index" property="portIndex" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="up_time" property="upTime" jdbcType="VARCHAR"/>
        <result column="speed" property="speed" jdbcType="INTEGER"/>
        <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP"/>
        <result column="in_data" property="inData" jdbcType="BIGINT"/>
        <result column="out_data" property="outData" jdbcType="BIGINT"/>
        <result column="des" property="des" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="PortResultMap" type="cn.albumenj.switchmonitor.dto.PortStatusDto">
        <result column="port_index" property="portIndex" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="up_time" property="upTime" jdbcType="VARCHAR"/>
        <result column="in_data" property="inData" jdbcType="BIGINT"/>
        <result column="out_data" property="outData" jdbcType="BIGINT"/>
        <result column="des" property="des" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="in_speed" property="inSpeed" jdbcType="BIGINT"/>
        <result column="out_speed" property="outSpeed" jdbcType="BIGINT"/>
        <result column="speed" property="speed" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="VlanResultMap" type="cn.albumenj.switchmonitor.dto.VlanDto">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="port_id" property="portId" jdbcType="VARCHAR"/>
        <result column="cvlan" property="cvlan" jdbcType="BIGINT"/>
        <result column="pvlan" property="pvlan" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        switch_id,
        port_index,
        switch_port,
        name,
        port_id,
        up_time,
        speed,
        time_stamp,
        in_data,
        out_data,
        des,
        status
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="portStatus.id">
        INSERT INTO port_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="portStatus.id!=null"> id,</if>
            <if test="portStatus.switchId!=null"> switch_id,</if>
            <if test="portStatus.portIndex!=null"> port_index,</if>
            <if test="portStatus.switchPort!=null"> switch_port,</if>
            <if test="portStatus.portId!=null"> port_id,</if>
            <if test="portStatus.name!=null"> name,</if>
            <if test="portStatus.upTime!=null"> up_time,</if>
            <if test="portStatus.speed!=null"> speed,</if>
            <if test="portStatus.timeStamp!=null"> time_stamp,</if>
            <if test="portStatus.inData!=null"> in_data,</if>
            <if test="portStatus.outData!=null"> out_data,</if>
            <if test="portStatus.des!=null"> des,</if>
            <if test="portStatus.status!=null"> status</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="portStatus.id!=null"> #{portStatus.id,jdbcType=VARCHAR},</if>
            <if test="portStatus.switchId!=null"> #{portStatus.switchId,jdbcType=INTEGER},</if>
            <if test="portStatus.portIndex!=null"> #{portStatus.portIndex,jdbcType=INTEGER},</if>
            <if test="portStatus.switchPort!=null"> #{portStatus.switchPort,jdbcType=VARCHAR},</if>
            <if test="portStatus.portId!=null"> #{portStatus.portId,jdbcType=INTEGER},</if>
            <if test="portStatus.name!=null"> #{portStatus.name,jdbcType=VARCHAR},</if>
            <if test="portStatus.upTime!=null"> #{portStatus.upTime,jdbcType=VARCHAR},</if>
            <if test="portStatus.speed!=null"> #{portStatus.speed,jdbcType=INTEGER},</if>
            <if test="portStatus.timeStamp!=null"> #{portStatus.timeStamp,jdbcType=TIMESTAMP},</if>
            <if test="portStatus.inData!=null"> #{portStatus.inData,jdbcType=BIGINT},</if>
            <if test="portStatus.outData!=null"> #{portStatus.outData,jdbcType=BIGINT},</if>
            <if test="portStatus.des!=null"> #{portStatus.des,jdbcType=VARCHAR},</if>
            <if test="portStatus.status!=null"> #{portStatus.status,jdbcType=INTEGER}</if>
        </trim>
    </insert>

    <insert id="insertList">
        INSERT INTO port_status(
            id,
            switch_id,
            port_index,
            switch_port,
            port_id,
            name,
            up_time,
            speed,
            time_stamp,
            in_data,
            out_data,
            des,
            status
        )VALUES
        <foreach collection="portStatuss" item="portStatus" index="index" separator=",">
        (
            #{portStatus.id,jdbcType=VARCHAR},
            #{portStatus.switchId,jdbcType=INTEGER},
            #{portStatus.portIndex,jdbcType=INTEGER},
            #{portStatus.switchPort,jdbcType=VARCHAR},
            #{portStatus.portId,jdbcType=INTEGER},
            #{portStatus.name,jdbcType=VARCHAR},
            #{portStatus.upTime,jdbcType=VARCHAR},
            #{portStatus.speed,jdbcType=INTEGER},
            #{portStatus.timeStamp,jdbcType=TIMESTAMP},
            #{portStatus.inData,jdbcType=BIGINT},
            #{portStatus.outData,jdbcType=BIGINT},
            #{portStatus.des,jdbcType=VARCHAR},
            #{portStatus.status,jdbcType=INTEGER}
        )
        </foreach>
</insert>

    <update id="update">
        UPDATE port_status
        <set>
                <if test="portStatus.id != null"> id = #{portStatus.id,jdbcType=VARCHAR},</if>
                <if test="portStatus.name != null"> name = #{portStatus.name,jdbcType=VARCHAR},</if>
                <if test="portStatus.upTime != null"> port_id = #{portStatus.portId,jdbcType=INTEGER},</if>
                <if test="portStatus.upTime != null"> up_time = #{portStatus.upTime,jdbcType=VARCHAR},</if>
                <if test="portStatus.speed != null"> speed = #{portStatus.speed,jdbcType=INTEGER},</if>
                <if test="portStatus.timeStamp != null"> time_stamp = #{portStatus.timeStamp,jdbcType=TIMESTAMP},</if>
                <if test="portStatus.inData != null"> in_data = #{portStatus.inData,jdbcType=BIGINT},</if>
                <if test="portStatus.outData != null"> out_data = #{portStatus.outData,jdbcType=BIGINT},</if>
                <if test="portStatus.des != null"> des = #{portStatus.des,jdbcType=VARCHAR},</if>
                <if test="portStatus.status != null"> status = #{portStatus.status,jdbcType=INTEGER}</if>
        </set>
		WHERE switch_port = #{portStatus.switchPort,jdbcType=VARCHAR}
    </update>

    <update id="updateVlan">
        UPDATE port_status
        <set>
            <if test="portStatus.cvlan != null"> cvlan = #{portStatus.cvlan,jdbcType=INTEGER},</if>
            <if test="portStatus.pvlan != null"> pvlan = #{portStatus.pvlan,jdbcType=INTEGER},</if>
        </set>
        WHERE id = #{portStatus.id,jdbcType=VARCHAR}
    </update>

    <update id="updateList">
        UPDATE port_status
        SET
        id = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.id,jdbcType=VARCHAR}
        </foreach>
        END,
        port_id = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            <if test="portStatus.portId != null">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.portId,jdbcType=INTEGER}
            </if>
        </foreach>
        END,
        name = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.name,jdbcType=VARCHAR}
        </foreach>
        END,
        up_time = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.upTime,jdbcType=VARCHAR}
        </foreach>
        END,
        speed = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.speed,jdbcType=INTEGER}
        </foreach>
        END,
        time_stamp = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.timeStamp,jdbcType=TIMESTAMP}
        </foreach>
        END,
        in_data = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.inData,jdbcType=BIGINT}
        </foreach>
        END,
        out_data = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.outData,jdbcType=BIGINT}
        </foreach>
        END,
        des = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.des,jdbcType=VARCHAR}
        </foreach>
        END,
        status = CASE switch_port
        <foreach collection="portStatuses" item="portStatus" index="index">
            WHEN #{portStatus.switchPort,jdbcType=VARCHAR} THEN #{portStatus.status,jdbcType=INTEGER}
        </foreach>
        END
        WHERE switch_port
                IN
                    <foreach collection="portStatuses" item="portStatus" index="index" separator="," open="(" close=")">
                        #{portStatus.switchPort,jdbcType=VARCHAR}
                    </foreach>
    </update>

    <delete id="delete">
        DELETE FROM port_status
        WHERE switch_port = #{portStatus.switchPort,jdbcType=VARCHAR}
    </delete>

    <select id="selectBySwitch" resultMap="BaseResultMap">
        SELECT id,
               switch_id,
               port_index,
               name,
               up_time,
               speed,
               time_stamp,
               in_data,
               out_data,
               des,
               status
        FROM port_status
        WHERE switch_id = #{portStatus.switchId,jdbcType=INTEGER}
    </select>

    <select id="selectByPort" resultMap="BaseResultMap">
        SELECT time_stamp,
               in_data,
               out_data
        FROM port_status
        WHERE switch_port = #{portStatus.switchPort,jdbcType=VARCHAR}
    </select>

    <select id="selectOld" resultMap="BaseResultMap">
        SELECT time_stamp,
               in_data,
               out_data,
               switch_port
        FROM port_status
    </select>

    <select id="selectByIP" resultMap="PortResultMap">
        SELECT
            port_status.in_data,
            port_status.out_data,
            port_status.des,
            port_speed.in_speed,
            port_speed.out_speed,
            port_status.`name`,
            port_status.`status`,
            port_status.up_time,
            port_status.speed,
            port_status.port_index
        FROM
            switches_list
                INNER JOIN port_status ON switches_list.id = port_status.switch_id
                INNER JOIN port_speed ON port_status.switch_id = port_speed.switch_id AND port_status.port_index = port_speed.port_index
        WHERE
            switches_list.ip = #{ip,jdbcType=VARCHAR}
        ORDER BY
            port_status.port_index ASC
    </select>

    <select id="selectVlanOrigin" resultMap="VlanResultMap">
        SELECT
            switches_list.ip,
            port_status.port_id,
            port_status.id
        FROM
            switches_list ,
            port_status
        WHERE
            port_status.port_id > 0 AND
            port_status.switch_id = switches_list.id
        ORDER BY
            switches_list.id ASC,
            port_status.port_id ASC
    </select>

    <select id="fetchPort" resultType="string">
        SELECT port_status.switch_port
        FROM switches_list
                 INNER JOIN port_status ON switches_list.id = port_status.switch_id
        WHERE switches_list.ip = #{ip,jdbcType=VARCHAR}
          AND port_status.`name` = #{port,jdbcType=VARCHAR}
        LIMIT 1
    </select>
</mapper>

