<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.albumenj.switchmonitor.dao.PortSpeedMapper">
    <resultMap id="BaseResultMap" type="cn.albumenj.switchmonitor.bean.PortSpeed">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="switch_id" property="switchId" jdbcType="INTEGER"/>
        <result column="port_index" property="portIndex" jdbcType="INTEGER"/>
        <result column="in_speed" property="inSpeed" jdbcType="BIGINT"/>
        <result column="out_speed" property="outSpeed" jdbcType="BIGINT"/>
        <result column="time_stamp" property="timeStamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        switch_id,
        port_index,
        switch_port,
        in_speed,
        out_speed,
        time_stamp
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="portSpeed.id">
        INSERT INTO port_speed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="portSpeed.id!=null"> id,</if>
            <if test="portSpeed.switchId!=null"> switch_id,</if>
            <if test="portSpeed.portIndex!=null"> port_index,</if>
            <if test="portSpeed.switchPort!=null"> switch_port,</if>
            <if test="portSpeed.inSpeed!=null"> in_speed,</if>
            <if test="portSpeed.outSpeed!=null"> out_speed,</if>
            <if test="portSpeed.timeStamp!=null"> time_stamp,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="portSpeed.id!=null">#{portSpeed.id,jdbcType=VARCHAR},
            </if>
            <if test="portSpeed.switchId!=null">#{portSpeed.switchId,jdbcType=INTEGER},
            </if>
            <if test="portSpeed.portIndex!=null">#{portSpeed.portIndex,jdbcType=INTEGER},
            </if>
            <if test="portSpeed.switchPort!=null"> #{portSpeed.switchPort,jdbcType=VARCHAR},
            </if>
            <if test="portSpeed.inSpeed!=null">#{portSpeed.inSpeed,jdbcType=BIGINT},
            </if>
            <if test="portSpeed.outSpeed!=null">#{portSpeed.outSpeed,jdbcType=BIGINT},
            </if>
            <if test="portSpeed.timeStamp!=null">#{portSpeed.timeStamp,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="insertList">
        INSERT INTO port_speed (
            id,
            switch_id,
            port_index,
            switch_port,
            in_speed,
            out_speed,
            time_stamp
        )VALUES
        <foreach collection="portSpeeds" item="portSpeed" index="index" separator=",">
            (
            #{portSpeed.id,jdbcType=VARCHAR},
            #{portSpeed.switchId,jdbcType=INTEGER},
            #{portSpeed.portIndex,jdbcType=INTEGER},
            #{portSpeed.switchPort,jdbcType=VARCHAR},
            #{portSpeed.inSpeed,jdbcType=BIGINT},
            #{portSpeed.outSpeed,jdbcType=BIGINT},
            #{portSpeed.timeStamp,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE port_speed
        <set>
            <if test="portSpeed.id != null"> id = #{portSpeed.id,jdbcType=VARCHAR},</if>
            <if test="portSpeed.switchId != null"> switch_id= #{portSpeed.switchId,jdbcType=INTEGER},</if>
            <if test="portSpeed.portIndex != null"> port_index= #{portSpeed.portIndex,jdbcType=INTEGER},</if>
            <if test="portSpeed.inSpeed != null"> in_speed= #{portSpeed.inSpeed,jdbcType=BIGINT},</if>
            <if test="portSpeed.outSpeed != null"> out_speed= #{portSpeed.outSpeed,jdbcType=BIGINT},</if>
            <if test="portSpeed.timeStamp != null"> time_stamp= #{portSpeed.timeStamp,jdbcType=TIMESTAMP}</if>
        </set>
        WHERE switch_port = #{portSpeed.switchPort,jdbcType=VARCHAR}

    </update >
    <update id="updateList">
        UPDATE port_speed
        SET
        id = CASE switch_port
        <foreach collection="portSpeeds" item="portSpeed" index="index">
            WHEN #{portSpeed.switchPort,jdbcType=VARCHAR} THEN #{portSpeed.id,jdbcType=VARCHAR}
        </foreach>
        END,
        switch_id = CASE switch_port
        <foreach collection="portSpeeds" item="portSpeed" index="index">
            WHEN #{portSpeed.switchPort,jdbcType=VARCHAR} THEN #{portSpeed.switchId,jdbcType=INTEGER}
        </foreach>
        END,
        port_index = CASE switch_port
        <foreach collection="portSpeeds" item="portSpeed" index="index">
            WHEN #{portSpeed.switchPort,jdbcType=VARCHAR} THEN #{portSpeed.portIndex,jdbcType=INTEGER}
        </foreach>
        END,
        in_speed = CASE switch_port
        <foreach collection="portSpeeds" item="portSpeed" index="index">
            WHEN #{portSpeed.switchPort,jdbcType=VARCHAR} THEN #{portSpeed.inSpeed,jdbcType=BIGINT}
        </foreach>
        END,
        out_speed = CASE switch_port
        <foreach collection="portSpeeds" item="portSpeed" index="index">
            WHEN #{portSpeed.switchPort,jdbcType=VARCHAR} THEN #{portSpeed.outSpeed,jdbcType=BIGINT}
        </foreach>
        END,
        time_stamp = CASE switch_port
        <foreach collection="portSpeeds" item="portSpeed" index="index">
            WHEN #{portSpeed.switchPort,jdbcType=VARCHAR} THEN #{portSpeed.timeStamp,jdbcType=TIMESTAMP}
        </foreach>
        END
        WHERE switch_port
                IN
                    <foreach collection="portSpeeds" item="portSpeed" index="index" separator="," open="(" close=")">
                        #{portSpeed.switchPort,jdbcType=VARCHAR}
                    </foreach>
    </update>

    <select id="selectBySwitch" resultMap="BaseResultMap">
        SELECT id,
               switch_id,
               port_index,
               in_speed,
               out_speed,
               time_stamp
        FROM port_speed
        WHERE switch_id = #{portSpeed.switchId,jdbcType=INTEGER}
    </select>
</mapper>

